header {
  background: gray;
  padding: 1em 0;
}

header nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header nav a {
  color: white;
  text-decoration: none;
  padding: 0.25em 1em;
  text-decoration: none;
  border: 1px solid #000000;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}

header nav a:hover,
header nav a:focus {
  background-color: #6e6e6e;
  color: #000000;
}
